@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-um: #201E1F;
    --cor-dois: #FFFFFF;
    --cor-tres:  crimson;
    --cor-red: #000000;
    --fonte-um: 'Montserrat', sans-serif;
    --fonte-dois: "Krona One", sans-serif;
    --cor-rodape: #252525;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-um);
    color: var(--cor-dois);
}

.verde {
    color: var(--cor-tres);
}

.central {
    gap: 82px;
    flex: 1;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.central__sub {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.central__sub__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-dois);
}

.central__sub__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-um);
}

.central__botões {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.central__botões__Navegue {
    font-size: 2.25rem;
    font-family: var(--fonte-dois);
}

.central__botões__cor {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 4px solid var(--cor-tres);
    width: 50%;
    font-weight: 900;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: var(--fonte-um);
}    

.central__botões__cor:hover {
    background-color: var(--cor-red);
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu__links {
    font-family: var(--fonte-um);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-tres);
    text-decoration: none;
}
.central__imagem {
    width: 50%;
}

.rodape {
    padding: 20px;
    color: var(--cor-dois);
    background-color: var(--cor-tres);
    text-align: center;
    font-family: var(--fonte-um);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho__menu{
        justify-content: center;
        padding: 10%;
    }
    .central {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .central__sub{
        width: auto;
    }

}